<div class="navbar">
  <a href="/">upload</a>
  <a href="/filemanager">filemanager</a>
  <a href="/info">info</a>
</div>
<div class="info-div">
  <p class="info-div-paragraph">{{titleContext.filemanager}}</p>
  <a class="delete-all-a" href="/delete-all">USUŃ DANE O PLIKACH Z TABLICY</a>
</div>
<div class="input-div">
  <table class="inp-table">
    <tr class="tr-header">
      <th>id</th>
      <th>obraz</th>
      <th>name</th>
      <th>size</th>
      <th>type</th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
    </tr>
    {{#each mainArray}}
    <tr
      style="text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: rgb(60, 59, 161);"
      name="{{id}}">

      {{> list}}

    </tr>
    {{/each}}
  </table>

</div>